body {
  margin: 0;
  padding:0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#b7ffbf,#00ab08);
  display: flex;
  align-items: center;
  align-content: space-center;
  justify-content: center;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
